
<div class="container ">
    <div class="row justify-content-center">
        {{#each articles}}
        <div class="col-sm-3 m-2">
            <div data-id="={{_id}}" class="card" style="width: 18rem;">


                <img class="card-img-top" src="{{image}}" alt="{{title}}">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{summary}}</p>
                    <a href="{{link}}" class="btn btn-primary">View Article</a>
                    <button id="leaveComment" data-id="{{_id}}" class="btn btn-primary">Leave Comment</button>
                    
                    <a href="#" id="remove" data-id="{{_id}}" class="btn btn-primary">Remove</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
